<div id="blogs">
  <div class="blogs-header">
    <h3>Recent Blog Posts</h3>
    <app-link
      title="view all"
      link="https://baijudodhia.github.io/blog?utm_source=baijudodhia.github.io&utm_medium=blog_section_view_all_btn"
    ></app-link>
  </div>
</div>
<template id="blogs-template">
  <div class="blog-item">
    <div class="blog-title"></div>
    <div class="blog-divider"></div>
    <div class="blog-excerpt"></div>
    <app-link
      class="blog-url"
      icon="fas fa-arrow-right"
      icon-direction="right"
      icon-title="Read the full Blog"
      title="Read"
      link=""
    ></app-link>
  </div>
</template>
