/* Global Tags */
html {
  --color_f5f5f5: #f5f5f5;
  --color_121212: #121212;
  --font-weight_400: 400;
  --font-weight_bold: bold;
}
html[data-theme="light"] {
  --color-light_0055ff-dark_009aff: #0055ff;
  --color-light_f5f5f5-dark_121212: #f5f5f5;
  --color-light_ffffff-dark_000000: #ffffff;
  --color-light_121212-dark_000000: #121212;
  --color-light_f5f5f5-dark_121212-reverse: #121212;
  --color-light_0055ff-dark_009aff-gradient: linear-gradient(
    to bottom right,
    #0072ff,
    #00c6ff
  );
  --font-weight: bold;
  --font-weight-hover: 500;
}
html[data-theme="dark"] {
  --color-light_0055ff-dark_009aff: #009aff;
  --color-light_f5f5f5-dark_121212: #121212;
  --color-light_ffffff-dark_000000: #000000;
  --color-light_121212-dark_000000: #000000;
  --color-light_f5f5f5-dark_121212-reverse: #f5f5f5;
  --color-light_0055ff-dark_009aff-gradient: linear-gradient(
    to bottom right,
    #0072ff,
    #00c6ff
  );
  --font-weight: 400;
  --font-weight-hover: bold;
}
* {
  font-family: "Lora", serif;
  box-sizing: border-box !important;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0;
  word-spacing: 1px;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (max-width: 340px) {
  * {
    font-size: 16px;
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  text-decoration: underline;
}
::-webkit-scrollbar-track {
  background-color: var(--color-light_f5f5f5-dark_121212);
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--color-light_0055ff-dark_009aff);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-light_0055ff-dark_009aff);
}
html,
body {
  margin: 0;
  background-color: var(--color-light_f5f5f5-dark_121212) !important;
  color: var(--color-light_f5f5f5-dark_121212-reverse) !important;
  scroll-behavior: smooth !important;
  font-weight: var(--font-weight) !important;
}
h3 {
  font-size: 24px;
  margin: 0px;
}
main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  row-gap: 30px;
  padding: 30px 15px;
}

/* Introduction Section */
.conditional-breakline {
  display: none;
}
@media only screen and (max-width: 600px) {
  .conditional-breakline {
    content: " ";
    display: block;
    height: 8px;
    line-height: 2px;
  }
}
#loading {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0px;
  left: 0px;
  z-index: 9999 !important;
  width: 100%;
  height: 100vh;
  background-color: white;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: black;
}
#loading > .fa-spinner {
  font-size: 32px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spacing {
  width: 100%;
  height: 60px;
}
.dashed-divider {
  align-self: stretch;
  margin: 0px;
  border: none;
  border-top: 1.5px dashed var(--color-light_f5f5f5-dark_121212-reverse);
  height: 0px;
  background-color: transparent;
}
.section-loader {
  display: block;
  text-align: center;
  align-self: center;
  border-top: 3px solid var(--color-light_0055ff-dark_009aff);
  border-right: 3px solid var(--color-light_0055ff-dark_009aff);
  border-bottom: 3px solid var(--color-light_0055ff-dark_009aff);
  border-left: 3px solid transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Navbar */
#navbar {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: center;
  height: 60px;
  background-color: var(--color-light_f5f5f5-dark_121212);
}
#navbar-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  height: 60px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  column-gap: 15px;
}
.navbar-brand > * {
  color: var(--color-light_f5f5f5-dark_121212-reverse);
  text-decoration: none;
}
.navbar-brand:hover {
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.language-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.language-button {
  color: var(--color-light_f5f5f5-dark_121212-reverse);
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}
.language-button > .fa:before {
  font-size: 20px;
}
.language-container:hover {
  position: relative;
}
.language-container:hover > app-language-menu {
  transition: 0.2s linear;
  transform: scale(1);
  top: calc(100%);
  right: -17px;
}
app-language-menu {
  position: absolute;
  min-width: 200px;
  padding-top: 2px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  z-index: 1;
  transform: scale(0);
  transform-origin: calc(100% - 25px) 0px;
  filter: drop-shadow(0px 0px 5px var(--color-light_0055ff-dark_009aff));
}

#waving-hand {
  text-decoration: none !important;
  border: none !important;
  background-color: transparent !important;
  cursor: pointer;
}
#waving-hand:hover {
  text-decoration: none !important;
  border: none !important;
  background-color: transparent !important;
  animation: waving 0.5s infinite;
}
@keyframes waving {
  0%,
  100% {
    transform-origin: bottom right;
    transform: scale(1.1) rotate(-5deg);
  }
  50% {
    transform-origin: bottom right;
    transform: rotate(10deg);
  }
}
#theme-changer {
  width: 40px;
  font-size: 18px;
  border: none !important;
  background-color: transparent !important;
  transition: 0.1s;
}
#theme-changer:hover {
  cursor: pointer;
}
#theme-changer:focus {
  background-color: transparent !important;
}
#theme-changer:active {
  background-color: transparent !important;
  transform: scale(0.85);
}
@media only screen and (max-width: 991px) {
  #theme-changer {
    width: 40px;
    padding: 0;
  }
}

/* About */
/* #about {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
}
#about > h2 {
  margin: 0px;
} */

/* What I Do Section */
/* #what-i-do {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  row-gap: 15px;
}
#what-i-do-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  column-gap: 10px;
}
@media only screen and (max-width: 931px) {
  #what-i-do-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: stretch;
    row-gap: 10px;
  }
}
.what-i-do-left {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  row-gap: 10px;
}
.what-i-do-divider {
  display: block;
  align-self: stretch;
  border-right: 1.5px dashed var(--color-light_f5f5f5-dark_121212-reverse);
}
@media only screen and (max-width: 931px) {
  .what-i-do-divider {
    display: none;
  }
}
.what-i-do-right {
  flex-basis: 0;
  flex-grow: 1;
} */

/* Work Experience */
/* #work-experience {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  row-gap: 15px;
}
#work-experience-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  row-gap: 15px;
}
.work-experience-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  row-gap: 15px;
  border: 1.5px solid var(--color-light_0055ff-dark_009aff);
  background-color: var(--color-light_f5f5f5-dark_121212);
  border-radius: 10px;
  padding: 15px;
  transition: 0.2s linear;
}
.work-experience-item:hover {
  font-weight: var(--font-weight-hover);
  color: var(--color-light_f5f5f5-dark_121212);
  background-color: var(--color-light_0055ff-dark_009aff);
}
.work-experience-item:hover .work-experience-divider {
  border-top: 1.5px dashed var(--color-light_f5f5f5-dark_121212);
}
.work-experience-item:hover app-label-with-icon::part(lwi_label) {
  font-weight: var(--font-weight-hover);
  color: var(--color-light_f5f5f5-dark_121212);
}
.work-experience-header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  column-gap: 30px;
}
@media only screen and (max-width: 931px) {
  .work-experience-header {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    row-gap: 15px;
  }
}
.work-experience-organisation-logo-container {
  flex-grow: 1;
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  width: 180px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 0px 10px -3px var(--color-light_ffffff-dark_00000);
}
@media only screen and (max-width: 931px) {
  .work-experience-organisation-logo-container {
    width: unset;
    align-self: stretch;
    height: 80px;
    padding: 10px;
  }
}
.work-experience-organisation-logo {
  width: 100%;
  height: 100%;
}
.work-experience-details {
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 5px;
  grid-column-gap: 20px;
}
@media only screen and (max-width: 700px) {
  .work-experience-details {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 20px;
  }
}
.work-experience-details app-label-with-icon::part(lwi) {
  min-width: 300px;
}
.work-experience-divider {
  align-self: stretch;
  margin: 0px;
  border: none;
  border-top: 1.5px dashed var(--color-light_f5f5f5-dark_121212-reverse);
  height: 0px;
  background-color: transparent;
}
.work-experience-item details {
  align-self: stretch;
  cursor: pointer;
}
.work-experience-item details[open] {
  align-self: flex-start;
  cursor: pointer;
}
.work-experience-item details > summary,
.work-experience-item details > summary::-webkit-details-marker {
  display: block;
}
.work-experience-item details > summary > .summary-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}
.work-experience-item details .summary-header-arrow-down {
  display: block;
}
.work-experience-item details[open] .summary-header-arrow-down {
  display: none;
}
.work-experience-item details .summary-header-arrow-up {
  display: none;
}
.work-experience-item details[open] .summary-header-arrow-up {
  display: block;
}
.work-experience-description {
  padding-top: 10px;
}
.work-experience-description > * {
  margin: 0px;
} */

/* Skills */
/* #skills .skills-item {
  margin-bottom: 8px;
}
#skills .skills-title {
  margin-bottom: 3px;
}
#skills .skills-list {
  padding: 0px 0px 0px 0px;
}
.skills-conditional-breakline {
  display: none;
}
@media only screen and (max-width: 771px) {
  .skills-conditional-breakline {
    content: " ";
    display: block;
    height: 2px;
    line-height: 1px;
  }
}
#skills .skills-list-item {
  padding: 0px 4px;
  margin: 0px 6px 4px 0px;
} */

/* Projects */
/* #projects {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  row-gap: 15px;
}
.projects-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  column-gap: 10px;
}
#projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}
@media only screen and (max-width: 840px) {
  #projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
  }
}
@media only screen and (max-width: 600px) {
  #projects-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
  }
}
.project-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: space-between;
  row-gap: 10px;
  border: 1.5px solid var(--color-light_0055ff-dark_009aff);
  background-color: var(--color-light_f5f5f5-dark_121212);
  border-radius: 10px;
  padding: 10px;
  transition: 0.2s linear;
}
.project-item:hover {
  color: var(--color-light_f5f5f5-dark_121212);
  font-weight: var(--font-weight-hover);
  background-color: var(--color-light_0055ff-dark_009aff);
}
.project-item:hover .project-divider {
  border-top: 1.5px dashed var(--color-light_f5f5f5-dark_121212);
}
.project-item:hover app-link::part(link) {
  font-weight: var(--font-weight-hover);
  color: var(--color-light_f5f5f5-dark_121212);
}
.project-item:hover app-link::part(link_container):hover {
  border-bottom: 1.5px dashed var(--color-light_f5f5f5-dark_121212);
}
.project-divider {
  align-self: stretch;
  margin: 0px;
  border: none;
  border-top: 1.5px dashed var(--color-light_f5f5f5-dark_121212-reverse);
  height: 0px;
  background-color: transparent;
}
.project-links {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  align-content: center;
  column-gap: 10px;
} */

/* Online Certificates */
/* #online-certificates {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  row-gap: 15px;
}
.online-certificates-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  column-gap: 10px;
}
#online-certificates-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}
@media only screen and (max-width: 931px) {
  #online-certificates-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
  }
}
@media only screen and (max-width: 600px) {
  #online-certificates-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
  }
}
.online-certificates-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: space-between;
  row-gap: 10px;
  border: 1.5px solid var(--color-light_0055ff-dark_009aff);
  background-color: var(--color-light_f5f5f5-dark_121212);
  border-radius: 10px;
  padding: 10px;
  transition: 0.2s linear;
}
.online-certificates-item:hover {
  color: var(--color-light_f5f5f5-dark_121212);
  font-weight: var(--font-weight-hover);
  background-color: var(--color-light_0055ff-dark_009aff);
}
.online-certificates-item:hover .online-certificates-divider {
  border-top: 1.5px dashed var(--color-light_f5f5f5-dark_121212);
}
.online-certificates-item:hover app-label-with-icon::part(lwi_label) {
  font-weight: var(--font-weight-hover);
  color: var(--color-light_f5f5f5-dark_121212);
}
.online-certificates-item:hover app-link::part(link) {
  font-weight: var(--font-weight-hover);
  color: var(--color-light_f5f5f5-dark_121212);
}
.online-certificates-divider {
  align-self: stretch;
  margin: 0px;
  border: none;
  border-top: 1.5px dashed var(--color-light_f5f5f5-dark_121212-reverse);
  height: 0px;
  background-color: transparent;
}
.online-certificates-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  row-gap: 10px;
}
.online-certificates-link-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}
.online-certificates-link-container .fa-certificate {
  width: 20px;
  text-align: center;
} */

/* Footer */
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  row-gap: 15px;
  padding: 15px 0px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  row-gap: 5px;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  column-gap: 15px;
}
#gototop {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
  width: 30px;
  height: 30px;
}
#gototop a {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 100%;
  color: var(--color-light_0055ff-dark_009aff);
  border: 1px solid var(--color-light_0055ff-dark_009aff);
  border-radius: 50%;
  transition: 0.25s;
  box-shadow: 0 0 10px -4px var(--color-light_0055ff-dark_009aff);
}
#gototop a:hover {
  cursor: pointer;
  color: var(--color-light_f5f5f5-dark_121212-reverse) !important;
  border: 1px solid var(--color-light_f5f5f5-dark_121212-reverse);
  box-shadow: 0 0 10px -2px var(--color-light_f5f5f5-dark_121212-reverse);
}

/* Font Awesome */
@font-face {
  font-family: "FontAwesome";
  src: url("../assets/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("../assets/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("../assets/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("../assets/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("../assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-code:before {
  content: "\f121";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-language:before {
  font-size: 16px;
  content: "\f1ab";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-industry:before {
  content: "\f275";
}
.fa-github:before {
  font-size: 16px;
  content: "\f09b";
}
.fa-github-alt:before {
  font-size: 16px;
  content: "\f113";
}
.fa-github-square:before {
  font-size: 16px;
  content: "\f092";
}
.fa-linkedin:before {
  font-size: 16px;
  content: "\f0e1";
}
.fa-linkedin-square:before {
  font-size: 16px;
  content: "\f08c";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-calendar-plus-o:before {
  content: "\f271";
}
.fa-calendar-minus-o:before {
  content: "\f272";
}
.fa-calendar-times-o:before {
  content: "\f273";
}
.fa-calendar-check-o:before {
  content: "\f274";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-external-link-square:before {
  content: "\f14c";
}
