<link
  href="./portfolio/main.css"
  rel="stylesheet"
/>
<style>
  #online-certificates {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    row-gap: 30px;
  }
  .online-certificates-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    column-gap: 20px;
  }
  #online-certificates-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }
  @media only screen and (max-width: 720px) {
    #online-certificates-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(auto-fit, 1fr);
      grid-row-gap: 20px;
      grid-column-gap: 20px;
    }
  }
  .online-certificates-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: space-between;
    row-gap: 15px;
    padding: 20px;
    transition: 0.05s linear;
    border: 1.5px solid var(--color-primary);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px -4px var(--color-secondary);
  }
  .online-certificates-item:hover {
    font-weight: var(--font-weight-hover);
    color: var(--color-bw_secondary);
    border: 1.5px solid var(--color-primary);
    background-color: var(--color-primary);
    box-shadow: 0px 0px 10px -4px var(--color-secondary);
  }
  .online-certificates-item:hover .online-certificates-divider {
    border-top: 1.5px dashed var(--color-bw_secondary);
  }
  .online-certificates-item:hover app-label-with-icon::part(lwi_icon) {
    font-weight: var(--font-weight-hover);
    color: var(--color-bw_secondary);
  }
  .online-certificates-item:hover app-label-with-icon::part(lwi_label) {
    font-weight: var(--font-weight-hover);
    color: var(--color-bw_secondary);
  }
  .online-certificates-item:hover app-link::part(link_container) {
    border-radius: 5px;
  }
  .online-certificates-item:hover app-link::part(link_container):hover {
    border-radius: 5px;
    background-color: var(--color-bw_secondary);
    box-shadow: 0px 0px 10px -4px var(--color-secondary);
  }
  .online-certificates-item:hover app-link::part(link) {
    font-weight: var(--font-weight-hover);
    color: var(--color-bw_secondary_invert);
  }
  .online-certificates-divider {
    align-self: stretch;
    margin: 0px;
    border: none;
    border-top: 1.5px dashed var(--color-bw_secondary_invert);
    height: 0px;
    background-color: transparent;
  }
  .online-certificates-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    row-gap: 15px;
  }
  .online-certificates-link-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
  }
  .online-certificates-link-container .fa-certificate {
    width: 20px;
    text-align: center;
  }
</style>
<div id="online-certificates">
  <div class="online-certificates-header">
    <h3>Online Certifications</h3>
  </div>
</div>
<template id="online-certificates-template">
  <div class="online-certificates-item">
    <div class="online-certificates-title"></div>
    <hr class="online-certificates-divider" />
    <div class="online-certificates-details">
      <app-label-with-icon
        class="online-certificates-organisation"
        icon="fa fa-building-o"
        icon_title="Course Organisation"
        label="University of Michigen"
      ></app-label-with-icon>
      <app-label-with-icon
        class="online-certificates-date"
        icon="fa fa-calendar-check-o"
        icon_title="Certificate Issue Date"
        label="Sept 2020"
      ></app-label-with-icon>
      <div class="online-certificates-link-container">
        <i
          class="fa fa-certificate"
          aria-hidden="true"
        ></i>
        <app-link
          class="online-certificates-link"
          icon="fa fa-external-link-square"
          icon-direction="right"
          icon-title="Course Completion Certificate"
          title="Certificate"
          link=""
        ></app-link>
      </div>
    </div>
  </div>
</template>
