<div id="online-certificates">
  <div class="online-certificates-header">
    <h3>Online Certifications</h3>
  </div>
</div>
<template id="online-certificates-template">
  <div class="online-certificates-item">
    <div class="online-certificates-title"></div>
    <hr class="online-certificates-divider" />
    <div class="online-certificates-details">
      <app-label-with-icon
        class="online-certificates-organisation"
        icon="fa fa-building-o"
        icon_title="Course Organisation"
        label="University of Michigen"
      ></app-label-with-icon>
      <app-label-with-icon
        class="online-certificates-date"
        icon="fa fa-calendar-check-o"
        icon_title="Certificate Issue Date"
        label="Sept 2020"
      ></app-label-with-icon>
      <div class="online-certificates-link-container">
        <i
          class="fa fa-certificate"
          aria-hidden="true"
        ></i>
        <app-link
          class="online-certificates-link"
          icon="fa fa-external-link-square"
          icon-direction="right"
          icon-title="Course Completion Certificate"
          title="Certificate"
          link=""
        ></app-link>
      </div>
    </div>
  </div>
</template>
