<link
  href="./portfolio/main.css"
  rel="stylesheet"
/>
<style>
  #skills {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    row-gap: 20px;
  }
  #skills .skills-item {
    margin-bottom: 8px;
  }
  #skills .skills-title {
    margin-bottom: 10px;
  }
  #skills .skills-list {
    padding: 0px 0px 0px 0px;
  }
  .skills-conditional-breakline {
    display: none;
  }
  @media only screen and (max-width: 771px) {
    .skills-conditional-breakline {
      content: " ";
      display: block;
      height: 2px;
      line-height: 1px;
    }
  }
  #skills .skills-list-item {
    padding: 0px 4px;
    margin: 0px 6px 4px 0px;
  }
</style>
<div id="skills">
  <h3>Skills</h3>
</div>
<template id="skills-template">
  <div
    class="skills-item"
    id="skills-platforms"
  >
    <div class="skills-title">
      <u id="skill-type"></u>:
      <br class="skills-conditional-breakline" />
      <span id="skill-list"></span>
    </div>
  </div>
</template>
