#blogs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  row-gap: 30px;
}
.blogs-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  column-gap: 20px;
}
#blogs-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.blog-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: space-between;
  row-gap: 15px;
  padding: 20px;
  transition: 0.05s linear;
  border: 1.5px solid var(--color-primary);
  /* border-image: var(--gradient-primary) 30; */
  /* background-image: none; */
  /* background-clip: content-box, border-box; */
  /* background-origin: border-box; */
  border-radius: 1rem;
  box-shadow: 0px 0px 10px -4px var(--color-secondary);
}
.blog-item:hover {
  font-weight: var(--font-weight-hover);
  color: var(--color-bw_secondary);
  border: 1.5px solid var(--color-primary);
  /* border-image: var(--gradient-primary) 30; */
  /* background-image: var(--gradient-primary); */
  background-color: var(--color-primary);
  /* background-clip: border-box; */
  /* background-origin: border-box; */
  box-shadow: 0px 0px 10px -4px var(--color-secondary);
}
.blog-item:hover .blog-divider {
  border-top: 1.5px dashed var(--color-bw_secondary);
}
.blog-item:hover app-link::part(link) {
  font-weight: var(--font-weight-hover);
  color: var(--color-bw_primary);
}
.blog-item:hover app-link::part(link_container) {
  border-radius: 5px;
}
.blog-item:hover app-link::part(link_container):hover {
  border-radius: 5px;
  background-color: var(--color-bw_secondary);
  box-shadow: 0px 0px 10px -4px var(--color-secondary);
}
.blog-item:hover app-link::part(link) {
  font-weight: var(--font-weight-hover);
  color: var(--color-bw_secondary_invert);
}
.blog-divider {
  align-self: stretch;
  margin: 0px;
  border: none;
  border-top: 1.5px dashed var(--color-bw_secondary_invert);
  height: 0px;
  background-color: transparent;
}
.blog-excerpt {
  flex-grow: 1;
  font-size: 16px;
}
@media only screen and (max-width: 340px) {
  .blog-excerpt {
    font-size: 14px;
  }
}
.blog-links {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  align-content: center;
  column-gap: 20px;
}
