<div id="what-i-do">
  <h3>What I Do ?</h3>
  <div id="what-i-do-container">
    <div class="what-i-do-left">
      <div>
        I work primarily in JavaScript, Python and Web Development with great flexibility of learning and adapting to
        any programming language or technology.
      </div>
      <div>
        Apart from coding and technology, pretty much involved in exploring and learning about better design techniques,
        digital marketing, entrepreneurship and startups, business and project management.
      </div>
    </div>
    <div class="what-i-do-divider"></div>
    <div class="what-i-do-right">
      <span>
        I have been a part of a lot of student communities related to tech, startups and entrepreneurship during my
        undergraduate years such as
      </span>
      <br />
      <app-link
        title="BloomBox, E-Cell KJSCE"
        link="https://www.bloomboxkjsce.com/"
      ></app-link>
      ,&nbsp;<br />
      <app-link
        title="RedShift Racing India"
        link="http://www.redshift-racing.in/"
      ></app-link>
      ,&nbsp;<br />
      <app-link
        title="CSI KJSCE"
        link="https://www.csikjsce.org/"
      ></app-link>
      ,&nbsp;<br />
      <app-link
        title="Hult Prize Somaiya"
        link="https://www.hultprize.org/"
      ></app-link>
    </div>
  </div>
</div>
