#about {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  row-gap: 20px;
}
#about > h1,
#about > h2 {
  margin: 0px;
}
#about > h1 * {
  font-size: 28px !important;
}
#about > h1 app-link::part(link_title) {
  font-size: 28px !important;
}
.about-name-container {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
}
