/* Common Styles for Button */
button {
  align-content: center;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  transition: all 0.3s ease;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  box-shadow: none;
  background-color: transparent;
}

button > *:not(:last-child) {
  margin-right: 0.5rem;
}

/* Primary Button Styles */
button[data-appearance="primary"] {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-primary-text);
  box-shadow: 0px 2px 10px -4px var(--color-primary);
}
button[data-appearance="primary"]:not([disabled]):hover {
  background-color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}
button[data-appearance="primary"]:not([disabled]):active {
  background-color: var(--color-primary-active);
  border-color: var(--color-primary-active);
}

/* Secondary Button Styles */
button[data-appearance="secondary"] {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-secondary-text);
  box-shadow: 0px 1px 10px -6px var(--color-secondary);
}
button[data-appearance="secondary"]:not([disabled]):hover {
  background-color: var(--color-secondary-hover);
  border-color: var(--color-secondary-hover);
}
button[data-appearance="secondary"]:not([disabled]):active {
  background-color: var(--color-secondary-active);
  border-color: var(--color-secondary-active);
}

/* Tertiary Button Styles */
button[data-appearance="tertiary"] {
  background-color: var(--color-tertiary);
  border-color: var(--color-tertiary);
  color: var(--color-tertiary-text);
  box-shadow: 0px 1px 10px -6px var(--color-tertiary);
}
button[data-appearance="tertiary"]:not([disabled]):hover {
  background-color: var(--color-tertiary-hover);
  border-color: var(--color-tertiary-hover);
}
button[data-appearance="tertiary"]:not([disabled]):active {
  background-color: var(--color-tertiary-active);
  border-color: var(--color-tertiary-active);
}

/* Outlined Button Styles */
button[data-appearance="outlined"] {
  color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: 0px 1px 10px -6px var(--color-primary);
}
button[data-appearance="outlined"]:not([disabled]):hover {
  color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}
button[data-appearance="outlined"]:not([disabled]):active {
  color: var(--color-primary-active);
  border-color: var(--color-primary-active);
}

/* Mono Button Styles */
button[data-appearance="mono"] {
  color: var(--color-primary);
}
button[data-appearance="mono"]:not([disabled]):hover {
  color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}
button[data-appearance="mono"]:not([disabled]):active {
  color: var(--color-primary-active);
  border-color: var(--color-primary-active);
}

/* Link Button Styles */
button[data-appearance="link"] {
  color: var(--color-primary);
  padding: 0rem !important;
  cursor: pointer;

  text-decoration: underline;
  text-underline-position: under;
  text-decoration-style: dashed;
  text-decoration-color: var(--color-primary);
}
button[data-appearance="link"]:not([disabled]):hover {
  color: var(--color-primary-hover);
  text-decoration-style: solid;
  text-decoration-color: var(--color-primary-hover);
}
button[data-appearance="link"]:not([disabled]):active {
  color: var(--color-primary-active);
  text-decoration-style: dashed;
  text-decoration-color: var(--color-primary-active);
}

/* Button Sizes */
button[data-size="xs"] {
  padding: var(--space-xxs);
  font-size: var(--font-size-xs);
  line-height: var(--font-size-xs);
  height: calc((2 * var(--space-xxs)) + var(--font-size-xs));
}
button[data-size="s"] {
  padding: var(--space-xs);
  font-size: var(--font-size-s);
  line-height: var(--font-size-s);
  height: calc((2 * var(--space-xs)) + var(--font-size-s));
}
button[data-size="m"] {
  padding: var(--space-s);
  font-size: var(--font-size-m);
  line-height: var(--font-size-m);
  height: calc((2 * var(--space-s)) + var(--font-size-m));
}
button[data-size="l"] {
  padding: var(--space-m);
  font-size: var(--font-size-l);
  line-height: var(--font-size-l);
  height: calc((2 * var(--space-m)) + var(--font-size-l));
}
button[data-size="xl"] {
  padding: var(--space-l);
  font-size: var(--font-size-xl);
  line-height: var(--font-size-xl);
  height: calc((2 * var(--space-l)) + var(--font-size-xxl));
}

/* Button Shapes */
button[data-shape="rounded"] {
  border-radius: 2rem;
}
button[data-shape="curved"] {
  border-radius: 0.5rem;
}
button[data-shape="rectangle"] {
  border-radius: 0rem;
}

/* Loading Animation Styles */
@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Loader Appearance */
/* Loader Size */
button > #loader-container[data-size="xs"] {
  font-size: var(--font-size-xs);
  line-height: var(--font-size-xs);
  width: var(--font-size-xs);
  height: var(--font-size-xs);
}
button > #loader-container[data-size="s"] {
  font-size: var(--font-size-s);
  line-height: var(--font-size-s);
  width: var(--font-size-s);
  height: var(--font-size-s);
}
button > #loader-container[data-size="m"] {
  font-size: var(--font-size-m);
  line-height: var(--font-size-m);
  width: var(--font-size-m);
  height: var(--font-size-m);
}
button > #loader-container[data-size="l"] {
  font-size: var(--font-size-l);
  line-height: var(--font-size-l);
  width: var(--font-size-l);
  height: var(--font-size-l);
}
button > #loader-container[data-size="xl"] {
  font-size: var(--font-size-xl);
  line-height: var(--font-size-xl);
  width: var(--font-size-xl);
  height: var(--font-size-xl);
}

button #loader {
  border-radius: 100%;
  animation: spinAnimation 1s linear infinite;
}
button #loader[data-appearance="primary"] {
  border-bottom: 2px solid var(--color-primary-text);
  border-left: 2px solid var(--color-primary);
  border-right: 2px solid var(--color-primary);
  border-top: 2px solid var(--color-primary);
}
button #loader[data-appearance="secondary"] {
  border-bottom: 2px solid var(--color-secondary-text);
  border-left: 2px solid var(--color-secondary);
  border-right: 2px solid var(--color-secondary);
  border-top: 2px solid var(--color-secondary);
}
button #loader[data-appearance="tertiary"] {
  border-bottom: 2px solid var(--color-tertiary-text);
  border-left: 2px solid var(--color-tertiary);
  border-right: 2px solid var(--color-tertiary);
  border-top: 2px solid var(--color-tertiary);
}
button #loader[data-appearance="outlined"] {
  border-bottom: 2px solid var(--color-primary);
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
}
button #loader[data-appearance="mono"] {
  border-bottom: 2px solid var(--color-primary);
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
}
button #loader[data-appearance="link"] {
  border-bottom: 2px solid var(--color-primary);
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
}

/* Loader Size */
button #loader[data-size="xs"] {
  width: calc(1 * var(--font-size-xs));
  height: calc(1 * var(--font-size-xs));
  line-height: calc(1 * var(--font-size-xs));
}
button #loader[data-size="s"] {
  width: calc(1.5 * var(--font-size-s));
  height: calc(1.5 * var(--font-size-s));
  line-height: calc(1.5 * var(--font-size-s));
}
button #loader[data-size="m"] {
  width: calc(1.5 * var(--font-size-m));
  height: calc(1.5 * var(--font-size-m));
  line-height: calc(1.5 * var(--font-size-m));
}
button #loader[data-size="l"] {
  width: calc(1.5 * var(--font-size-l));
  height: calc(1.5 * var(--font-size-l));
  line-height: calc(1.5 * var(--font-size-l));
}
button #loader[data-size="xl"] {
  width: calc(1.5 * var(--font-size-xl));
  height: calc(1.5 * var(--font-size-xl));
  line-height: calc(1.5 * var(--font-size-xl));
}

/* Add Loading Animation Styles for different appearances and sizes as needed */

/* Button Template Sizes */
button[data-size="xs"] > #button-icon-left,
button[data-size="xs"] > #button-icon-right,
button[data-size="xs"] > #button-label {
  font-size: var(--font-size-xs) !important;
}
button[data-size="s"] > #button-icon-left,
button[data-size="s"] > #button-icon-right,
button[data-size="s"] > #button-label {
  font-size: var(--font-size-s) !important;
}
button[data-size="m"] > #button-icon-left,
button[data-size="m"] > #button-icon-right,
button[data-size="m"] > #button-label {
  font-size: var(--font-size-m) !important;
}
button[data-size="l"] > #button-icon-left,
button[data-size="l"] > #button-icon-right,
button[data-size="l"] > #button-label {
  font-size: var(--font-size-l) !important;
}
button[data-size="xl"] > #button-icon-left,
button[data-size="xl"] > #button-icon-right,
button[data-size="xl"] > #button-label {
  font-size: var(--font-size-xl) !important;
}
